.contactContainer {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 55px;
  margin: 0 auto;
}

.contactContainer .contactContainer-linkedin,
.contactContainer-git,
.contactContainer-whats,
.contactContainer-email {
  display: flex;
  align-items: center;
  padding: 5px;
}

.contactContainer-envelope__link,
.contactContainer-git__link,
.contactContainer-whats__link,
.contactContainer-email__link {
  padding-bottom: 2px;
  text-decoration: none;
  color: black;
}

.contactContainer-linkedin__img,
.contactContainer-git__img,
.contactContainer-whats__img,
.contactContainer-email__img {
  width: 65%;
  opacity: 0.5;
}

.contactContainer-linkedin__img:hover,
.contactContainer-git__img:hover,
.contactContainer-whats__img:hover,
.contactContainer-email__img:hover {
  opacity: 1;
}
