.hamburger {
  display: none;
  position: fixed;
  background-color: transparent;
  left: 0;
  top: 2%;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamburger.is-active {
  background-color: none;
}

._layer {
  background: cyan;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}

.menuppal {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}

.menuppal .section-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
  width: 100%;
}

.menuppal .section-list button {
  list-style: none;
  text-align: center;
  line-height: 3em;
  font-size: 1rem;
  height: 3em;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
}

.menuppal .section-list button:hover {
  text-decoration: none;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: inline;
  }
}