.containerImages-mobile {
  display: block;
  border-radius: 15px;
  width: 166px;
  height: 350px;
  margin: 0 auto;
  background-color: transparent;
  border: 10px solid black;
  position: relative;
  text-decoration: none;
  color: black;
}

.containerImages-mobile__img, .loadingImgMobileCard {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 550px) {
  .containerImages-mobile {
    border-width: 10px;
  }
}

