.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  padding: 20px 0;
  background-color: rgb(255, 255, 255, 0.60);
  background-color: black;
  color: white;
  width: 100%;
}

.headerContainer .headerContainer-title {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.headerContainer-title .headerContainer-title__img:hover {
  box-shadow: 0px 0px 1px 2px #c3285d;
}

.headerContainer-title__link {
  font-size: 30px;
  text-decoration: none;
  font-weight: 900;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.headerContainer-title__link:hover {
  border-bottom-color: white;
}

.headerContainer .headerContainer-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.headerContainer-link__github {
  border-right: 1px solid white;
  padding-right: 10px;
}

.headerContainer-link__perfil {
  border-left: 1px solid white;
  padding-left: 10px;
}

.headerContainer-link .headerContainer-link__perfil,
.headerContainer-link__github {
  color: white;
  opacity: .6;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s;
}

.headerContainer-link__perfil:hover, .headerContainer-link__github:hover {
  opacity: 1;
  text-decoration: revert;
}

@media screen and (max-width: 480px) {
  .headerContainer {
    display: block;
    text-align: center;
    padding: 15px 0;
  }

  .headerContainer .headerContainer-title {
    margin-left: 0;
    justify-content: center;
  }

  .headerContainer .headerContainer-link {
    margin-right: 0;
    margin-top: 5px;
    justify-content: center;
  }

  .headerContainer-link__github {
    margin-right: 0px;
    border-right: none;
  }

  .headerContainer-link__perfil {
    border-left: none;
  }
}

